@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

body {
    background-color: black;
    margin: 0.5em;
    font-family: Arial, sans-serif;
    font-family: monospace;
    color: green;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: normal;
}

nav {
    padding: 0.5em;
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLink {
    font-size: 24pt;
    text-decoration: none;
}

.active {
    font-weight: bolder;
    font-size: 28pt;
}

.aligned-right {
    align-self: right;
}

a {
    color: green;
}
a:visited {
    color: green;
}
a:hover {
    color: green;
}

.intro-box {
    font-size: 32pt;
    border: 0.1em;
    border-radius: 0.2em;
    border-style: solid;
    border-color: green;
    width: 35em;
    height: 20em;
    padding: 1em;
}

@keyframes blink {
  50% { opacity: 0; }
}
.cursor {
  animation: blink 1.5s step-start infinite;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.title {
    font-size: 32pt;
}

.contacts {
    font-size: 16pt;
    padding: 1em;
}
